# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string
AZURE_STORAGE_CONTAINER=raw

# Azure SQL Database
SQL_SERVER=your_server_name.database.windows.net
SQL_DATABASE=sqldb-mta-weather-dev
SQL_USERNAME=your_sql_username
SQL_PASSWORD=your_sql_password
SQL_DRIVER=ODBC Driver 17 for SQL Server

# Local raw data
DATA_DIR=data/raw

# Development load window
START_DATE=2025-01-01
END_DATE=2025-01-07